body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.dark {
  background-color: #232326;
  color: #f3f2f0;
}

.dark .nav-link {
  color: #f3f2f0;
}

.dark .circle {
  fill: #d40000;
}

.dark .triangle {
  fill: #ffffff;
}

.dark .social,
.dark .steps-item,
.dark .about-title,
.dark .about-description {
  border-bottom: 1px solid #f3f2f0;
}

.dark .steps-item:first-child {
  border-top: 1px solid #f3f2f0;
}

.light {
  background-color: #e5e5e5;
  color: #010101;
}

.light .nav-link {
  color: #010101;
}

.light .circle circle {
  fill: #ffffff;
}

.light .triangle path {
  fill: #d40000;
}

.light .social,
.light .steps-item,
.light .about-title,
.light .about-description {
  border-bottom: 1px solid #010101;
}

.light .steps-item:first-child {
  border-top: 1px solid #010101;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 61px;
}

.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.nav-item {
  padding-left: 14px;
  padding-right: 14px;
}

.nav-item:first-child {
  padding-left: 0;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav-link {
  line-height: 150%;
  text-decoration: none;
  transition: 0.2s color ease;
}

.nav-link:hover {
  color: #d40000;
}

.nav-info .nav-item {
  position: relative;
}

.nav-info .nav-item::before {
  content: "";
  display: block;
  width: 1px;
  height: 24px;
  background-color: rgba(243, 242, 240, 0.5);
  position: absolute;
  left: 0;
  top: calc(50% - 12px);
}

.nav-info .nav-item:first-child::before {
  display: none;
}

.photo {
  margin-bottom: 115px;
  width: 100%;
}

.circle-main {
  width: 253px;
  height: 253px;
  position: absolute;
  left: -128px;
  top: calc(50% - 126px);
  z-index: 1;
}

.triangle {
  position: absolute;
  left: -151px;
  top: -16px;
  z-index: 2;
}

.main {
  position: relative;
}

.main .title-h1 {
  position: relative;
  z-index: 4;
  margin-bottom: 38px;
}

.name {
  font-size: 28px;
  line-height: 150%;
  position: relative;
  z-index: 3;
  margin: 0;
}

.title-h1 {
  font-weight: bold;
  font-size: 74px;
  line-height: 50px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social {
  display: flex;
  justify-content: space-between;
  padding-bottom: 46px;
  margin-top: 120px;
}

.social-item:last-child {
  position: relative;
}

.project {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  margin: 0;
  display: flex;
  align-items: center;
  padding-bottom: 11px;
  transition: 0.2s border-bottom ease;
  border-bottom: 2px solid transparent;
}

.project:hover {
  border-bottom: 2px solid #f3f2f0;
}

.project-img {
  width: 16px;
  height: 12px;
  display: block;
  background-image: url(../img/arrow.svg);
  margin-left: 15px;
}

.nav-social .nav-link {
  font-size: 16px;
}

.nav-social .nav-item {
  padding-left: 29px;
  padding-right: 28px;
}

.nav-social .nav-item:last-child {
  padding-right: 0;
}

.nav-social .nav-item {
  position: relative;
}

.nav-social .nav-item::before {
  content: "";
  display: block;
  width: 1px;
  height: 24px;
  background-color: rgba(243, 242, 240, 0.5);
  position: absolute;
  left: 0;
  top: calc(50% - 12px);
}

.nav-social .nav-item:first-child::before {
  display: none;
}

.circle-nav {
  width: 106px;
  height: 106px;
  position: absolute;
  right: 38px;
  top: calc(50% - 60px);
}

.skill {
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
}

.skill .title-h3 {
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.scill-item {
  flex: 0 0 21%;
  margin-right: 3%;
}

.skill .description {
  line-height: 150%;
  opacity: 0.8;
}

.title-h3 {
  font-size: 16px;
  font-weight: 700;
}

.about-item > p {
  margin-top: 0;
  margin-bottom: 0;
}

.about-item .title-h3 {
  margin-bottom: 21px;
}

.section-about {
  padding-top: 114px;
}

.about {
  display: grid;
  grid-template: 289px / repeat(4, 1fr);
}

.about-title {
  grid-column: 1/3;
  grid-row: 1/2;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 57px;
}

.about-description {
  grid-column: 3/5;
  grid-row: 1/2;
  padding: 58px 10px 62px 11px;
  font-size: 28px;
  line-height: 150%;
  opacity: 0.8;
}

.about-item .description {
  line-height: 150%;
  opacity: 0.8;
}

.about-01 {
  grid-column: 3/4;
  grid-row: 2/3;
  padding: 43px 10px 35px 10px;
}

.about-02 {
  grid-column: 4/5;
  grid-row: 2/3;
  padding: 43px 10px 24px 15px;
}

.about-03 {
  grid-column: 3/4;
  grid-row: 3/4;
  padding: 14px 12px;
}

.about-04 {
  grid-column: 4/5;
  grid-row: 3/4;
  padding: 14px 14px 10px 15px;
}

.section-steps {
  padding-top: 167px;
  padding-bottom: 130px;
}

.steps-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 13px;
  line-height: 150%;
}

.steps-title {
  font-size: 28px;
}

.steps-title span {
  margin-right: 40px;
}

.steps-description {
  font-size: 16px;
  flex: 0 0 49%;
  max-width: 49%;
}

.portfolio {
  font-weight: 700;
  font-size: 74px;
  line-height: 90px;
  text-transform: uppercase;
  margin-bottom: 162px;
  position: relative;
  z-index: 1;
  letter-spacing: 0;
}

.gradient {
  background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
}

.section-portfolio {
  position: relative;
}

.circle-portfolio {
  position: absolute;
  width: 465px;
  height: 465px;
  top: -340px;
  left: 346px;
}

#tabs {
  position: relative;
}

.nav-tabs {
  font-size: 16px;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  position: absolute;
  top: -79px;
}

.nav-tabs-item {
  margin-right: 76px;
  padding-top: 20px;
  padding-bottom: 21px;
}

.nav-tabs-link {
  border-bottom: 2px solid transparent;
  padding-bottom: 20px;
  color: rgba(243, 242, 240, 0.5);
  text-decoration: none;
}

.nav-tabs-link:focus {
  outline: none;
}

.nav-tabs-item.ui-state-active .nav-tabs-link {
  color: #f3f2f0;
  border-bottom: 2px solid #f3f2f0;
}

.work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f2f0;
  padding-top: 45px;
  padding-bottom: 57px;
}

.work-item {
  flex: 0 0 49%;
}

.work-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 39px;
}

.work-list {
  font-size: 16px;
  line-height: 150%;
  list-style-type: none;
  margin-bottom: 40px;
  padding-left: 0;
  opacity: 0.8;
}

.work-list-item {
  margin-bottom: 10px;
}

.work-time {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.8;
  margin-bottom: 0;
}

.work-image {
  position: absolute;
  left: -50%;
  top: -50%;
  transform: translate(50%, 50%);
  width: 100%;
  height: 315px;
  object-fit: cover;
}

.work-thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 315px;
}

.section-advantages {
  padding-top: 170px;
  padding-bottom: 177px;
}

.advantages-text {
  font-size: 28px;
  line-height: 150%;
  max-width: 870px;
}

.advantages {
  display: grid;
  grid-template: 1fr 1fr / repeat(3, 1fr);
  grid-gap: 77px 20px;
  border-top: 1px solid #f3f2f0;
  padding-top: 80px;
  margin-top: 78px;
}

.advantages-item {
  display: flex;
  align-items: center;
}

.advantages-image {
  margin-right: 40px;
}

.advantages-image svg {
  width: 40px;
  height: 40px;
}

.advantages-image path {
  fill: #f3f2f0;
}

.advantages .title-h3 {
  margin-top: 0;
  margin-bottom: 14px;
}

.advantages-description {
  line-height: 150%;
  opacity: 0.8;
  margin-bottom: 0;
}

.tech {
  display: grid;
  grid-template: 148px 148px / repeat(4, 1fr);
  padding-bottom: 150px;
}

.tech-item {
  border-bottom: 1px solid rgba(243, 242, 240, 0.3);
  border-right: 1px solid rgba(243, 242, 240, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-item:first-child,
.tech-item:nth-child(5) {
  border-left: 1px solid rgba(243, 242, 240, 0.3);
}

.html,
.css,
.js,
.jquery {
  border-top: 1px solid rgba(243, 242, 240, 0.3);
}

.tech-image {
  filter: grayscale(100%);
  transition: 0.2s ease;
}

.tech-item:hover .tech-image {
  filter: grayscale(0);
}

.ui-tooltip {
  background-color: #e31b1b;
  border-color: #e31b1b !important;
  border-radius: 0;
  text-align: center;
  box-shadow: none !important;
  font-size: 10px;
  color: rgba(243, 242, 240, 0.8);
  max-width: 232px;
  line-height: 150%;
  padding: 20px;
  box-sizing: border-box;
}

.ui-tooltip-content::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: -20px;
  width: 2px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e31b1b;
}

.tarif {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tarif-title {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-bottom: 1px solid #f3f2f0;
  padding-top: 5px;
}

.tarif-title > div {
  position: relative;
}

.tarif-title p {
  position: relative;
  z-index: 1;
}

.tarif-description {
  font-size: 28px;
  line-height: 150%;
  opacity: 0.8;
  padding-bottom: 52px;
  border-bottom: 1px solid #f3f2f0;
}

.tarif-item {
  border-bottom: 1px solid #f3f2f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding-bottom: 61px;
}

.circle-price {
  width: 90px;
  height: 90px;
  position: absolute;
  left: -46px;
  top: calc(50% - 45px);
}

.circle-tarif {
  width: 140px;
  height: 140px;
  position: absolute;
  left: -69px;
  top: calc(50% - 70px);
}

.tarif-pack {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.tarif-name {
  font-size: 28px;
  line-height: 150%;
  margin-bottom: 20px;
  margin-top: 60px;
}

.tarif-text {
  font-size: 16px;
  line-height: 150%;
  opacity: 0.8;
}

.tarif-footer {
  position: relative;
}

.tarif-footer p {
  margin: 0;
  position: relative;
  z-index: 1;
}

.tarif .project {
  display: inline-flex;
}

.tarif-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.tarif-list-item {
  position: relative;
  font-size: 16px;
  line-height: 200%;
  opacity: 0.8;
  padding-left: 15px;
}

.tarif-list-item::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #f3f2f0;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
}

.tarif-price {
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
}

.section-form {
  padding-top: 95px;
  padding-bottom: 129px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
  line-height: 150%;
}

.form-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-bottom: 1px solid #f3f2f0;
  padding-bottom: 30px;
  position: relative;
}

.circle-form {
  width: 300px;
  height: 300px;
  position: absolute;
  left: -154px;
  top: calc(50% - 128px);
  z-index: 1;
}

.triangle-form {
  width: 73.34px;
  height: 91.67px;
  position: absolute;
  left: -180px;
  top: calc(50% - 90px);
  z-index: 2;
}

.form-info {
  position: relative;
  z-index: 3;
}

.form-description {
  font-size: 28px;
  line-height: 150%;
  opacity: 0.8;
  padding-bottom: 52px;
  border-bottom: 1px solid #f3f2f0;
  padding-bottom: 30px;
}

.form-item {
  padding-top: 60px;
}

.form-social {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
}

..nav-social .nav-item:first-child {
  padding-left: 0;
}

form label {
  opacity: 0.8;
  margin-bottom: 10px;
  display: block;
}

form input {
  width: 100%;
  padding: 26px 20px 26px;
  background-color: #38383a;
  border: none;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: #f3f2f0;
}

form input:focus {
  outline: none;
}

form input[type="submit"] {
  background-color: #d40000;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #f3f2f0;
  padding: 21px 0;
  margin-bottom: 0;
}

form select {
  width: 100%;
}

.ui-selectmenu-button.ui-button {
  width: 100%;
  padding: 24px 20px 23px;
  box-sizing: border-box;
  background-color: #38383a;
  color: #fff;
  margin-bottom: 42px;
  border-radius: 0;
}

.ui-button:hover,
.ui-button:focus {
  border: 0;
  outline: 0;
}

.ui-selectmenu-menu .ui-menu {
  background-color: #38383a;
  color: rgba(243, 242, 240, 0.4);
  font-size: 12px;
}

.ui-selectmenu-menu .ui-menu .ui-menu-item {
  padding: 10px 20px;
}

.ui-selectmenu-menu .ui-menu .ui-menu-item:hover {
  color: rgba(243, 242, 240, 1);
  padding: 10px 20px;
}

footer {
  border-top: 1px solid #f3f2f0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 44px;
}

.footer-bottom p {
  margin: 0;
  color: rgba(243, 242, 240, 0.3);
}

.foter-link {
  color: rgba(243, 242, 240, 0.3);
  border-bottom: 1px solid rgba(243, 242, 240, 0.3);
  transition: 0.2s ease;
}

.foter-link:hover {
  color: rgba(243, 242, 240, 1);
  border-bottom: 1px solid rgba(243, 242, 240, 1);
}
