body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.darck {
  background-color: #232326;
  color: #f3f2f0;
}

.darck .nav__link {
  color: #f3f2f0;
}

.darck .circle circle {
  fill: #d40000;
}

.darck .triangle path {
  fill: #fff;
}

.darck .social,
.darck .steps__item {
  border-bottom: 1px solid #F3F2F0;
}

.darck .steps__item:first-child {
  border-top: 1px solid #F3F2F0;
}

.light {
  background-color: #f3f2f0;
  color: #010101;
}

.light .nav__link {
  color: #010101;
}

.light .circle circle {
  fill: #fff;
}

.light .triangle path {
  fill: #d40000;
}

.light .social, 
.light .steps__item {
  border-bottom: 1px solid #010101;
}

.light .steps__item:first-child {
  border-top: 1px solid #010101;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 60px;
}

.nav {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  font-weight: 400;
}

.nav__item {
  padding: 0 16px;
}

.nav__item:first-child {
  padding-left: 0;
}

.nav__item:last-child {
  padding-right: 0;
}

.nav__link {
  text-decoration: none;
}

.nav__link:hover {
  color: #d40000;
}

.nav__info .nav__item {
  position: relative;
}

.nav__info .nav__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 24px;
  left: 0;
  top: calc(50% - 12px);
  background-color: rgba(243, 242, 240, 0.5);
}

.nav__info .nav__item:first-child::before {
  display: none;
}

.photo {
  display: block;
  width: 100%;
  margin-bottom: 120px;
}

.main {
  position: relative;
}

.circle__main {
  width: 253px;
  height: 253px;
  position: absolute;
  left: -130px;
  top: -45px;
  z-index: 1;
}

.triangle {
  position: absolute;
  left: -150px;
  top: -20px;
  z-index: 2;
}

.main .title-h1 {
  position: relative;
  z-index: 4;
}

.name {
  font-size: 28px;
  font-weight: 400;
  position: relative;
  z-index: 3;
}

.title-h1 {
  font-size: 74px;
  font-weight: 700;
  text-transform: uppercase;
}

.social {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  margin-top: 100px;
}

.project {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.project-img {
  width: 16px;
  height: 12px;
  display: block;
  background-image: url(../img/arrow.svg);
  margin-left: 15px;
}

.social__item:last-child {
  position: relative;
}

.circle__nav {
  width: 106px;
  height: 106px;
  position: absolute;
  right: 38px;
  top: calc(50% - 53px);
  z-index: 1;
}

.nav__info {
  position: relative;
  z-index: 2;
}

.skill {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.skill_item {
  flex: 0 0 21%;
}

.title-h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description {
  line-height: 150%;
  opacity: 0.8;
}

.section__steps {
  padding-top: 180px;
  padding-bottom: 190px;
}

.steps__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 150%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.steps__title {
  font-size: 28px;
}

.steps__title span {
  margin-right: 45px;
}

.steps__description {
  font-size: 16px;
  line-height: 150%;
  flex: 0 0 49%;
  max-width: 49%;
}
